
.orders-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow:hidden;
}

.buyOrders-container
{
    width:45%;
    border:2px solid gray;
    padding:20px;
    display:flex;
    flex-direction:column;
    
}

.sellOrders-container {
    width:45%;
    
    border: 2px solid gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.order-info-container
{
    display:flex;
    flex-direction:column;
    overflow:scroll;
}

.order
{
    display:flex;
    flex-direction:column;
    border-bottom:2px solid gray;
    margin-top:20px;    
}


.margin-t5
{
    margin-top:5px;
}